html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***************************/

/*font-family: 'Raleway', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/

body{
	background-color: rgba(134, 120, 120, 0.788);
}

.wrapper{
max-width: 1920px;
width: 100%;
margin: 0 auto;
}

.center{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

.cont1{
	background-image: url(./img/slide1.png) ;
	max-width: 1920px;
	width: 100%;
	height: 100vh;
	max-height: 1024px;
	background-repeat: no-repeat;
	background-size: cover;
}
header .logo{padding-top: 38px;
display: inline-block;
padding-right: 21%;}

header .logo p{
	display: inline;
	font-size: 34px;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	color: #f3f3f3;
	position: relative;
	top:-15px;
}

.cont1 .center .header_navbar {
	display: inline-block;
	width: 60%;

}

.cont1 .center .header_navbar ul {
	display: flex;
	justify-content: space-between;
	position: relative;
	top:-20px;
}

.cont1 .center .header_navbar ul li{
	display: inline;
}

.cont1 .center .header_navbar ul li a{
	text-decoration: none;
	color: #b1b2b3;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	
}
.cont1 .center .header_navbar ul li a:hover{
	color: #c7b299;
}
.cont1 .center .header_navbar ul li svg{
	color: white;
	font-size: 24px;
	position: relative;
	top:-5px;
}

.cont1 .center .header_navbar ul li:nth-child(9){
	margin-left: 30px;
}

.cont1 .name{
	margin: 0 auto;
	width: 600px;
	padding-top: 23%;
	text-align: center;
	color: #ffffff;
}
.cont1 .name h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 34px;
	letter-spacing: 1px;
	line-height: 1.5;
}

.cont1 .name h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 52px;
	line-height:70px;
}
.cont1 .name p{
	text-align: center;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
line-height: 26px;
}

.cont1 .butt{
	margin: 0 auto;
	text-align: center;
	margin-top:55px ;
}
.cont1 .butt a{
	position: inherit;
	text-decoration: none;
	color: white;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	padding:22px 37px 22px 39px;
	background-color: #998675;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	box-shadow: inset 0  -4px  #736357
	;
}


.wrapper .cont2{
	height: 372px;
	width: 100%;
	background-color: #ffff;
}

.cont2 .flex_container{
	padding-top: 85px;
	display: flex;
	justify-content: space-between;
}

.cont2 .flex_container div{
	text-align: center;
}


.cont2 .flex_container div h2{
	color: #555555;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 47px;
}	
.cont2 .flex_container div p{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300px;
	color: #9b9b9b;
	line-height: 24px;
}

.cont2 .flex_container div hr{
width: 70px;
border: none;
height: 3px;
background-color: #f1eee9;
}

.cont2 .flex_container div{
	font-size: 40px;
	position: relative;
}
.cont2 .flex_container div:hover h2, .cont2 .flex_container div:hover svg{
	text-decoration:none;
	color: #c7b299;
	
}
.flex_container div:hover hr {
	background-color: #c7b299;
}

.cont3{
	background-color: #FBFAF8;
	height: 725px;
	text-align: center;
}

.cont3 .center .text h2{
	padding-top: 85px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	line-height: 65px;
}

.cont3 .center .text p{
	margin: 0 auto;
	width: 770px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
	padding-bottom: 61px;
}


.cont3  .bg{
	margin: 0 auto;
	background: url(./img/qwerty.png);
	width: 100%;
	max-width: 1230px;
	height: 480px;
}

.cont4{
	height: 150px;
	background-image: linear-gradient(90deg, #261e1b 0%, #382820 60%, #493125 100%);
}

.cont4 .zall .center{
	display: flex;
	flex-direction: row;
	padding-top:2%;
	justify-content: space-between;
}
.cont4 .zall h2{
	font-family: 'Raleway', sans-serif;
	font-size: 28px;
	font-weight: 400;
	color: #ffffff;
	padding-bottom: 15px;;
}
.cont4 .zall h2 .owe{
	color: #c7b299;
}
.cont4 .zall p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: #4c423f;
}
.cont4 .zall .buttom{
	position: relative;
	padding-top: 2%;
}
.cont4 .zall .buttom a{
	
	text-align: center;
	
	text-decoration: none;
	color: #ffffff;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	padding:19px 28px 19px 28px;
	background-color: #998675;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	box-shadow: inset 0  -4px  #736357
	;
}

.cont5{
height: 1160px;
background-color: white;
}

.cont5 .center h2{
	padding-top: 85px;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	padding-bottom: 30px;
}
.cont5 .center p{
	margin: 0 auto;
	width: 766px;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	line-height: 20px;
	padding-bottom: 40px;
}

.cont5 .center .flexbut{
	width: 900px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-bottom: 40px;
}

.cont5 .center .flexbut .buttom{
	text-align: center;
}

.cont5 .center .flexbut .buttom a{

	text-align: center;
	
	text-decoration: none;
	color: #8c8c8c;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	padding:11px 26px 11px 26px;
	border: solid #ececec 1px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	
	;

}
.cont5 .center .flexbut .buttom a:hover{
	background-color: #998675;
	color: #ffffff;
}

.cont5 .center .grid-cont{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 370px 370px ;
}

.cont5 .center .grid-cont div{
	height: 340px;
	max-width: 370px;
	width: 100%;
	background-repeat: no-repeat;
}
.cont5 .center .grid-cont .item1{
	background-image: url(./img/index1.png);
}
.cont5 .center .grid-cont .item2{
	background-image: url(./img/index2.png);
}
.cont5 .center .grid-cont .item3{
	background-image: url(./img/index3.png);
}
.cont5 .center .grid-cont .item4{
	background-image: url(./img/index4.png);
}
.cont5 .center .grid-cont .item5{
	background-image: url(./img/index5.png);
}
.cont5 .center .grid-cont .item6{
	background-image: url(./img/index6.png);
}

.cont5 .center .grid-cont .down{
	background-color: #fbfaf8;
	max-width: 370px;
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
	margin-top: 237px;
	
}
.cont5 .center .grid-cont .down h2{

margin: 0;
padding: 0;
max-width: 340px;
margin-left: 30px;
text-align: left;
color: #cebda7;
font-family: 'Raleway', sans-serif;
font-weight: 400;
font-size: 20px;
padding-top:20px;
margin-bottom: 14px;
}

.cont5 .center .grid-cont .down p{
margin: 0;
padding: 0;
max-width: 340px;
margin-left: 30px;
text-align: left;
font-family: 'Montserrat', sans-serif;
font-weight: 300;
font-size: 14px;
color: #d1d1d1;
}

.cont5 .center .grid-cont div svg{
	position: relative;
	font-size: 30px;
	display: none;
	margin: 0 auto;
	top: 25%;
	left: 30%;
	margin: 16px;
	margin-top: 30%;
	color: #ffffff;
}
.cont5 .center .grid-cont div:hover svg {
	position: relative;
	display:inline;
}
.cont5 .center .grid-cont div svg:nth-child(1):hover{
	color: #c7b299;
}
.cont5 .center .grid-cont div svg:nth-child(2):hover{
	color: #c7b299;
}

.cont5 .center .grid-cont div:hover .down{
	background-color: #362f2d;
	margin-top: 78px;
}
.cont5 .center .grid-cont div:hover .down h2{color: #d1d1d1;}
.cont5 .center .grid-cont div:hover .down p{color: #cebda7;}
.cont5 .butt{
	margin: 0 auto;
	text-align: center;
	margin-top:55px ;
	margin-bottom: 200px;
}
.cont5 .butt a{
	position: inherit;
	text-decoration: none;
	color: white;
	font-size: 14px;
	letter-spacing: 1px;
	border-radius: 3px;
	text-transform: uppercase;
	padding:22px 37px 22px 39px;
	background-color: #998675;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	box-shadow: inset 0  -4px  #736357
	;
}

.cont6{
	height: 705px;
	background-image: url(./img/video.png);
}

.cont6 .center .button{
	margin: 0 auto;
	padding-top: 18%;
	width: 100px;

}

.cont6 .center h2{
	text-align: center;
	padding-top: 40px;
	margin-bottom: 30px; 
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 30px;
	color: white;
}
.cont6 .center p{
	margin: 0 auto;
	text-align: center;
	max-width: 590px;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 300;

}
.cont7{
height: 630px;	
}
.cont7 .center .left_img{
	position: relative;
	padding-top: 120px;
	max-width: 100%;
}
.cont7 .content  .bttm{
	padding-right:10px;
}
.cont7 .center h2{
	padding-top: 150px;
	padding-bottom: 30px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
}

.cont7 .center p{
	padding-bottom: 50px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
}

.cont7 .center li{
	padding-bottom: 10px;
	
}
.cont7 .center li a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
}

.cont7 .center li a img{
	padding-right: 15px;
	
}

.cont8{
	height: 300px;
	background-image: linear-gradient(90deg, #261e1b 0%, #382820 40%, #493125 100%);
}

.cont8 .center .content div{
	color: white;
	margin-top: 5%;
	text-align: center;
}

.cont8 .center .content div h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 48px;
}

.cont8 .center .content div svg{
	font-size: 40px;
	color: #b5a18b;
	margin-bottom: 15px;
}
.cont8 .center .content div p{
	color: #b5a18b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	text-transform: uppercase;
}
.cont8 .center .content hr{
	width: 40px;
	border: none;
	height: 3px;
	background-color: #f1eee9;

}

.cont9{
height: 750px;
background-color: #fff;
text-align: center;
}

.cont9 .center h2{
	padding-top: 80px;
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 600;
	color: #555555;
}

.cont9 .center p{
	margin: 0 auto;
	width: 760px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #8c8c8c;
	padding-bottom: 40px;
	}

.cont9 .card{
	text-align: left;
	height: 400px;
	width: 370px;
}

.cont9 .center .card .time{
	position: absolute;
	width: 60px;
	height: 60px;
	padding-left: 20px;
	padding-top: 20px;
	color: white;
	text-align: center;
}

.cont9 .center .card .time h5{
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 24px;
	padding-left: 2px;
	padding-top: 5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	background-color: #363636;
	margin: 0;
}

.cont9 .center .card .time p{
	font-family: 'Roboto', sans-serif;
	font-size: 12px ;
	font-weight: 400px;
	color: white;
	background-color:#252525;
	width: 40px;
	height: 20px;
	padding: 0px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	
}

.cont9 .center .card .card-body h5{
	font-family: 'Raleway', sans-serif;
	font-weight: 400px;
	color: #606060;
	font-size: 20px;
}
.cont9 .center .card .card-body p{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #8c8c8c;
	width: 300px;
	margin: 0;
	
}

.cont9 .center .card .card-body a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #8c8c8c;
	width: 300px;
	color: #c7b299;
	
}

.cont9 .center .card:hover{
	background-color: #362f2d;
}
.cont9 .center .card:hover img{
	opacity: 0.50;
}

.cont9 .center .card:hover .time h5{
	background-color:#c7b299;
}

.cont9 .center .card:hover .time p{
	background-color:#a48d72;
}

.cont9 .center .card:hover h5{
	color: #a48d72;
}

.cont9 .center .card:hover p{
	color: white;
}

.cont9 .arrows{
	margin-top: 40px;
}
.cont9 .arrows svg{
	color: #d8d8d8;
	font-size: 20px;
	margin-right: 10px;
	mar
}

.cont9 .arrows svg:hover{
	color: #cebba5;
}

.cont10{
	background-image: url(./img/bgim.png);
	height: 490px;
	width: 100%;
	display: grid;
	justify-content: space-evenly;
	align-content: center;
}

.cont11{
	height: 500px;
	background-color: #191919;
}

.cont11 .center .logo{
	padding-top: 80px;
}
	.cont11 .center .logo #qwe{
		display: inline;
		font-size: 34px;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		color: #f3f3f3;
		position: relative;
		top:5px;
		
	}
.cont11 .center .logo p{
	margin-top: 30px;
	color: #4b4b4b;
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	font-size: 14px;
}

.cont11 .center .logo a{
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: white;
}
.cont11 .center .logo a i{
	position: relative;
	vertical-align: -0.15;
	margin-left: 10px;	
}
.cont11 .center .logo a svg{
	margin-left: 10px;
}

.cont11 .center .logo a:hover{
	color: #c7b299;
}

.cont11 .center .elsec{
	padding-top: 100px;
}
.cont11 .center .elsec h2{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}
.cont11 .center .elsec .data{
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin-bottom: 12px;
}
.cont11 .center .elsec .main{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 20px;
}
.cont11 .center .elsec hr{
	background-color: #252525;
	height: 1px;
	margin: 0;
	margin-bottom: 20px;
}
.cont11 .center .elsec .block:hover .data{
	color: white;
}
.cont11 .center .elsec .block:hover .main{
	color: #c7b299;
}

.cont11 .center .elthrd{
	padding-top: 100px;
}
.cont11 .center .elthrd h2{
	color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 30px;
}
.cont11 .center .elthrd .data{
	color: #363636;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 12px;
	margin-bottom: 20px;
}
.cont11 .center .elthrd .main{
	color: #555555;
	font-family: 'Montserrat', sans-serif;
	font-weight: 200;
	font-size: 14px;
	margin-bottom: 12px;
}
.cont11 .center .elthrd hr{
	background-color: #252525;
	height: 1px;
	margin: 0;
	margin-bottom: 20px;
}
.cont11 .center .elfor{
	width: 275px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.cont11 .center .elfor a img{
	max-width: 130px;
}

.cont12 .center #cop{
	width: 140px;
}
.cont12 .center hr{
	height: 15px;
	width: 2px;
	color: black;
}