.container{
    width: 100%;
    height: 500px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 100px;
}

.container div{
    width: 50px;
    height: 50px;
    background-color: blueviolet;
}
.q1, .q5 {align-self: flex-end;}
.q2, .q4 {align-self: center;}


.sec{
    width: 1200;
    height: 500px;
    background-color: rgb(212, 132, 13);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}


.sec div{
background-color: chartreuse;
height: 100px;
width: 100px;
width: ;
}
.sec  .w1{
    background-color: cornsilk;
}
.sec  .w8{
    width: 120px;
}
.sec .w9{
    background-color: cornsilk;
    width: 1100px;
    height: 100px;
}

.thrd {
    background-color: darkgray;
    width: 600px;
    height: 600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.thrd div{
    background-color: darkorange;
    width: 180px;
    height: 180px;
}

.thrd .e2{
    height: 360px;
}