body{background-color: rgb(175, 172, 172)}
h1{text-align: center}
#fff{color: green}
#centr{text-align: center;}
a{text-decoration: none;}
    .sec{width: 700px;
        padding: 0;
        margin-left: 10%;
    text-align: justify;}
    

#zero{color: rgb(238, 28, 63)}
#one{color: rgba(1, 35, 148, 0.767)}
#two{color: rgb(28, 9, 110)}


#special{list-style-type: decimal}
li{font-size: 150%;}

    #test{list-style-type: none;}
    #test:before {
        content: "$";
        }
    #teste{list-style-type: none;}
    #teste:before {
        content: "%";
        }
    #tested{list-style-type: none;}
    #tested:before {
        content: "&";
        }
.stroki{margin:0 auto ;
      width: 50%;}

.ordinary{color: rgb(133, 5, 69);}
.ordinary1{color: rgb(50, 92, 12);
                text-shadow: rgb(46, 218, 160) 7px -2px 6px;}
.ordinary3{color: rgb(241, 13, 127);
                text-decoration-line: underline;}
#p1{color: indigo;}
#p2{color: rgb(99, 11, 16);}
#p3{color: rgb(218, 134, 9);}
